body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}
main {
    flex: 1 0 auto;
}
footer{
    display: flex;
    align-self: flex-end;
    width: 100%;
}
nav{
    top: 0;
    z-index: 10;
}
.brand-logo{
    font-family: 'Libre Barcode 39 Text', cursive;

}
.form-group{
    display: flex;
    align-content: center;
}
.material-icons.settings, .material-icons.cancel { 
    color: rgba(0, 0, 0, 0.54); 
}
h1{
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    text-align: center;
}
h2{
    font-family: 'Electrolize', sans-serif;
    font-size: 25px;
    text-align: center;
}
p, th, td{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}
a, li, input, button{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    text-align: center;
}
.search{
    display: inline;
}
.searchResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.card-content{
    width: 50em;
    height: 25em;
}
.section{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.validate{
    opacity: 1;
}
.section.white.register{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profilePic{
    width: 10%;
    justify-content: center;
}
button{
    font-family: 'Iceberg', cursive;
}
.form-horizontal.register{
    width: 50%;
    text-align: center;
}
body a.button-collapse {
    display: flex;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 20px;
}
.control-label{
    width: auto;
}
legend, input{
    color: black;
}
.tabs tabs-fixed-width ul{
    color: black;
}
.list-group.list-group-flush{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info{
    padding: 6%;
    text-align: center;
}
.info li{
    list-style: none;
    margin: 1%;
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablesearch tr td{
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
}
.def{
    text-align: center;
}
.tabs{
    text-align: center;
    margin: 5em auto;
    background-color: black;
    position: relative;
    overflow-x: scroll;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postDate{
    float: right;
    font-size: 10px;
    color:grey;
}
.postMaker {
    display: inherit;
}
.postContent{
    height: 12em;
    display: inherit;
}
#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.5rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
}
.tableCommunity{
    align-items: center;
}
.letterList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.letter{
    margin: 1.5em auto;
    text-align: center;
}
.letter:hover{
    background-color: blueviolet;
    border-radius: 70%;
    color: white;
    text-align: center;
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card{
    height: 25em;
}
.secondary{
    color: grey;
    font-size: 12px;
}
.formOptions{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.clear{
    bottom: 5em;
}

#profilePic{
    width: 10%;
    float: left;
}
